body{
    background-color: beige;
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

h1{
    text-align: center;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #00695c;
}

img{
    width: 500px;
    height: auto;
    transform: translateX(300px);
}

a{
    transform: translateY(100%);
}