body{
    background-color: beige;
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}
h1{
    text-align: center;
    font-family: "Caveat",cursive;
    color: #00695c;
}

p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #00695c;
}

.gradient-circle {
    color: #af4345;
    text-decoration: underline;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-9%, 85%);
    background-image: radial-gradient(
        circle,
        #26a69a,
        #00695c 
    );
}

.gradient-circle-2{
    color: #af4345;
    text-decoration: underline;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-9%, 222%);
    background-image: radial-gradient(
        circle,
        #26a69a,
        #00695c 
    );
}